.custom-table-container {
    /* Estilos para el contenedor de la tabla */
    width: 80%;
    margin: 20px auto;
  }
  
  .custom-table {
    /* Estilos para la tabla */
    width: 100%;
    font-size: 18px;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .custom-table th, .custom-table td {
    /* Estilos para las celdas de la tabla */
    padding: 20px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .custom-table th {
    /* Estilos para las celdas de encabezado de la tabla */
    background-color: #1F618D;
    font-weight: bold;
    color: #fff; 
    font-size: 24px;
  }
  